header{
    text-align: center;
    color: aliceblue;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

/* #mainContainer{
} */
#cityName{
    display: inline;
}

#futureForecastCard{
    border-radius: 5px;
    background-color: cornflowerblue;
    min-height: 250px;
    color: aliceblue;
}
#todaysForecast{
    border-radius: 10px;
    background-color: aquamarine;
    margin-bottom: 10px;
    color: aliceblue;

}

#historyListItem{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

#historyListItem:hover{
    color: rgb(72, 72, 253);
    cursor: pointer;
}
/* #mainRow{
    background-color: blue;
}
#leftSide{
    background-color: red !important;
}
#rightSide{
    background-color: chartreuse;
}

#rsTopRow{
    background-color: chocolate;
}

#rsBotRow{
    background-color: coral;
} */
